<div class="container mt-5">


  <div class="col-md-12 ">

    <form #registerForm="ngForm" (ngSubmit)="register()">
      <h2 class="text-center text-primary">Sign Up</h2>
      <hr>

      <div class="form-group">
        <input type="text" class="form-control" required [(ngModel)]="model.username" name="username" placeholder="Username">
      </div>

      <!--This is for test of @Input-->
      <!-- <div class="form-group">
        <label for="favouriteValuse" >What is your favourite Values? </label>
        <select class="form-control" id="favouriteValuse">
          <option selected value="-1">Please Select Value</option>
          <option *ngFor="let item of valuesFromHome" [value]="item" >{{item.name}}</option>
        </select>
      </div> -->


      <div class="form-group">
        <input type="password" class="form-control" required [(ngModel)]="model.password" name="password" placeholder="Password">
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
      </div>

    </form>
  </div>

</div>
